/diabetes_data.csv
/EDA-1. Введение в разведывательный анализ данных. Алгоритмы и методы EDA
/MATH&ML-10. Кластеризация и техники понижения размерности. Часть I
/MATH&ML-5. Математический анализ в контексте задачи оптимизации. Часть II
/MATH&ML-7. Теория вероятностей в контексте наивного байесовского классификатора
/MATH&ML-9. Математика ансамблевых методов
/ML-2. Обучение с учителем
/ML-3. Обучение с учителем
/ML-8. Продвинутые методы машинного обучения
/PYTHON-10. Введение в Pandas
/PYTHON-11. Базовые приёмы работы с данными в Pandas
/PYTHON-12. Продвинутые методы работы с данными в Pandas
/PYTHON-13. Визуализация данных
/PYTHON-14. Очистка данных
/Практика
/практика.ipynb